.home-content {
  display: flex;
  gap: 18px;
  justify-content: space-between;
}

@media screen and (max-width: 758px) {
  .home-content {
    flex-direction: column;
  }
}

.home-content .content-column {
  flex: 1;
}

.task-list-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.task {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #fff;
}

.task.done {
  text-decoration: line-through;
}

.task-main {
  flex: 1;
}

.task-head {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.task-head input {
  width: auto;
}

.task-description {
  color: #b3b3b3;
}

.task-delete {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background: #ed2939;
  cursor: pointer;
  transition: background .3s ease;
}

.task-delete:hover {
  background: #d30000;
}

.task-delete .task-icon {
  width: 30px;
  height: 30px;
}
